{{ template "layout/base.html" . }}

{{ define "title" }}Вхід - TimeBride{{ end }}

{{ define "content" }}
<div class="container-tight py-4">
    <div class="text-center mb-4">
        <a href="/" class="navbar-brand navbar-brand-autodark">
            <img src="/static/logo.svg" height="36" alt="">
        </a>
    </div>
    <form class="card card-md" action="/login" method="post" autocomplete="off">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Увійдіть до свого облікового запису</h2>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" name="email" class="form-control" placeholder="your@email.com" autocomplete="off">
            </div>
            <div class="mb-2">
                <label class="form-label">
                    Пароль
                    <span class="form-label-description">
                        <a href="/forgot-password">Забули пароль?</a>
                    </span>
                </label>
                <div class="input-group input-group-flat">
                    <input type="password" name="password" class="form-control" placeholder="Ваш пароль" autocomplete="off">
                    <span class="input-group-text">
                        <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                                <path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                                <path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" />
                            </svg>
                        </a>
                    </span>
                </div>
            </div>
            <div class="mb-2">
                <label class="form-check">
                    <input type="checkbox" name="remember" class="form-check-input"/>
                    <span class="form-check-label">Запам'ятати мене на цьому пристрої</span>
                </label>
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-primary w-100">Увійти</button>
            </div>
        </div>
    </form>
    <div class="text-center text-muted mt-3">
        Ще не маєте облікового запису? <a href="/register" tabindex="-1">Зареєструватися</a>
    </div>
</div>
{{ end }}
